@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfRounded-light";
  font-style: thin;
  font-weight: 300;
  src: url("./fonts/sfRounded/light.otf") format("opentype");
}
@font-face {
  font-family: "sfRounded-regular";
  font-weight: 400;
  src: url("./fonts/sfRounded/regular.otf") format("opentype");
}
@font-face {
  font-family: "sfRounded-medium";
  font-style: medium;
  font-weight: 500;
  src: url("./fonts/sfRounded/medium.otf") format("opentype");
}

body {
  overflow: hidden;
}

.textWhite {
  color: "#ffffff";
}

.h-lists {
  min-width: 255px;
  max-width: 255px;
  width: 255px;
  min-height: 60%;
  max-height: 60%;
  overflow: auto;
  /* overflow-y: scroll; */
}
.h-lists::-webkit-scrollbar {
  display: none;
}

.wh-tile {
  width: 120px;
  height: 58px;
}

.wh-tile-double {
  width: 280px;
  height: 58px;
}

.wh-tile:hover {
  cursor: pointer;
}

.selectedTaskCount {
  color: "#ffffff";
  font-family: "sfRounded-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: end;
}

.unselectedTaskCount {
  color: "#5C6269";
  font-family: "sfRounded-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: end;
}

.unselectedTitle {
  font-family: "sfRounded-medium";
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}

.selectedTitle {
  font-family: "sfRounded-regular";
  font-size: 15px;
  line-height: 18px;
}

.selectedList {
  font-family: "sfRounded-regular";
  font-size: 15px;
  line-height: 18px;
}

.newListButton {
  font-family: "sfRounded-regular";
  font-size: 15px;
  line-height: 18px;
}

.listTitle {
  font-family: "sfRounded-medium";
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
}

.control {
  font-family: "sfRounded-light";
  font-size: 15px;
  line-height: 18px;
}

.taskCount {
  font-family: "sfRounded-regular";
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}

.addTaskButton {
  font-family: "sfRounded-regular";
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}

.configLabel {
  font-family: 'sfRounded-regular';
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (max-width: 900px) {
  .dynamicNav {
    position: relative;
    margin-left: -230px;
    background-color: white;
  }
  
  .dynamicNav:hover {
    /* left:0px; */
    margin-left: 0px;
  }
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@layer utilities {
  .w-372 {
    min-width: 271px;
  }
  .w-200 {
    min-width: 200px;
  }
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
  /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
  /* sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
